h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
}
p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}
button {
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}